/* styles.css */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    margin: 0;
    padding: 0;
    background: url('images/back-s.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header {
    background-color: rgba(239, 238, 197, 0.9);
    padding: 10px 0;
    text-align: center;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #4b2e19;
}

p {
    font-size: 1.2em;
    color: #352222;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: x-small;
}

.book-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
    font-size: small;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-item img {
    width: 100%;
    height: auto;
    display: block;
}

.book-item p {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #eed9c1;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1200px) {
    .books-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .books-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2em;
    }
}
